@charset "utf-8";

.metro-btn {
  position: fixed;
  right: 18px;
  bottom: 128px;
  z-index: 100;
  background-color: var(--CA-gray);
  transition: bottom 200ms 0s ease;
}
.metro-btn--on {
  background-color: var(--CA-green-light);
}
.metro-btn--sub-sound {
  bottom: 149px;
  transition: bottom 200ms 0ms ease-in;
}
.metro-btn--open {
  bottom: 146px;
  z-index: 1010;
  transition: bottom 200ms 0s ease;
}
.metro-btn--on-chord {
  z-index: 2110;
}
.metro-btn-icon {
  position: relative;
  font-size: 24px;
}
.metro-window {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background-color: var(--CA-black2);
}
.metro-window--on-chord {
  z-index: 2100;
}

.metro-window__close-btn {
  position: fixed;
  right: 18px;
  bottom: 72px;
  z-index: 100;
  background-color: var(--CA-gray);
}
.metro-window__close-btn-icon {
  position: relative;
  font-size: 36px;
}
.metro__mode {
  position: fixed;
  left: 0;
  bottom: 0px;
  /* bottom: constant(safe-area-inset-bottom);  iOSノッチ対策
  bottom:  env(safe-area-inset-bottom);      iOSノッチ対策 */
  z-index: 300;
  
  width: 100%;
  height: 60px;
  background-color: var(--CA-black1);
}
.metro__mode-btn {
  position: absolute;
  display: flex;
  flex: 1 0 auto;
  justify-content: center;
  box-sizing: border-box;
  padding: 0 24px;
  border: none;
  outline: none;
  background: none;

  width: calc(100% / 2);
  height: 100%;

  background-color: #00000000;
  color: var(--CA-white-dark);

  font-weight: 400;
  text-align: center;
  white-space: nowrap;

  cursor: pointer;
  -webkit-appearance: none;
}
.metro__mode-icon {
  position: relative;
  font-size: 20px;
  line-height: 60px;
}
.metro__mode-btn-label {
  position: relative;
  display: inline-block;

  padding-left: 8px;
  padding-right: 0;
  line-height: 60px;
  font-size: 1.2rem;
}
.metro__mode-btn--selected {
  font-weight: 500;
  color: var(--CA-white);
}
.metro__mode-btn-0 {
  left: 0;
}
.metro__mode-btn-1 {
  left: 50%;
}
.metro__mode-ripple {
  position: absolute;
  bottom: 0;

  width: 100%;
  height: 100%;

  background-color: #00000000;
  z-index: 1;
}
.metro__mode-divider {
  position: fix;
  top: -1px;
  margin: 0;
  border: 0;
  border-width: 0;
  height: 1px;
  background-color: var(--CA-black3);
  width: 100%;
  z-index: 1;
  /* border-bottom-color: red; */

}
.metro__mode-bg {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  /* height: constant(safe-area-inset-bottom); iOSノッチ対策
  height:  env(safe-area-inset-bottom); iOSノッチ対策 */
  z-index: 100;
  background-color: var(--CA-black1);
}

.metro__tempo {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 20;
  width: 100%;
  height: calc(40% - 108px);
  transition: height 200ms 0s ease;
}
.metro__tempo--rhythm {
  height: calc(40% - 48px);
  transition: height 200ms 0s ease;
}
.metro__tempo-value {
  position: absolute;
  margin: auto;
  right: 72px;
  top: 50%;
  -webkit-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0);
  width: calc((100% - 144px)*0.75);
  height: 120px;
  line-height: 120px;
  font-size: 84px !important;
  text-align: center;
  color: var(--CA-white) !important;
}
.metro__beat-label {
  position: absolute;
  margin: auto;
  left: 72px;
  top: 50%;
  -webkit-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0);
  width: calc((100% - 144px)*0.25);
  height: 120px;
  line-height: 120px;
  font-size: 24px !important;
  text-align: right;
  color: var(--CA-white-dark) !important;
}
.metro__tempo-minus {
  position: absolute;
  left: 18px;
  top: 50%;
  -webkit-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0);
  font-size: 36px;
  font-weight: 400 !important;
  color: var(--CA-white-dark) !important;
}
.metro__tempo-plus {
  position: absolute;
  right: 18px;
  top: 50%;
  -webkit-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0);
  font-size: 36px;
  font-weight: 400 !important;
  color: var(--CA-white-dark) !important;
}
.metro__tempo-marking {
  position: fixed;
  left: 3%;
  bottom: calc(60% + 60px);
  z-index: 20;
  width: 94%;
  height: 48px;
}
.metro__touch-area {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 30;
  width: 100%;
  height: calc(40% - 48px);
  opacity: 0;
}

.metro__volume {
  position: fixed;
  left: 50%;
  bottom: 60%;
  z-index: 20;
  -webkit-transform: translate3d(-50%, 0, 0);
  transform: translate3d(-50%, 0, 0);
  width: 60%;
  height: 48px;
}
.metro__volume-icon-L {
  position: absolute;
  left: 12px;
  bottom: 60%;
  z-index: 20;
  font-size: 24px;
  color: var(--CA-white-dark) !important;
}
.metro__volume-icon-R {
  position: absolute;
  right: 12px;
  bottom: 60%;
  z-index: 20;
  font-size: 24px;
  color: var(--CA-white-dark) !important;
}
.metro__beats {
  position: fixed;
  display: flex;
  left: 0;
  top: 0;
  height: 40%;
}
.metro__beat {
  position: relative;
  top: 50%;
  -webkit-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0);
  height: 100%;
  width: 100%;
  background-color: #232323;
  border: solid;
  border-width: 1px;
  border-color: #1c1c1c;
  transition: background-color 200ms 0ms ease-out;
}
.metro__beat--flash {
  background-color: var(--CA-green-dark);
  height: 100%;
  transition: background-color 0ms 0s ease;
}

.metro__pattern {
  position: fixed;
  left: 0;
  top: 40%;
  width: 100%;
  height: calc(60% - 60px);
}
.metro__pattern--full {
  height: 60%;
}

.metro__pattern-lists {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--CA-black2);
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.metro__pattern-list {
  position: relative;
  padding: 0;
}
.metro__pattern-list__divider {
  position: relative;
  width: 100%;
  height: 24px;
  background-color: var(--CA-green);
}
.metro__pattern-list__label {
  position: absolute;
  width: 100%;
  text-align: center;
  line-height: 24px;
  color: var(--CA-white-dark);
}